.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 24pt;
    text-align: center;
}
.degree {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}
.field {
    font-size: 14px;
}