.list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.field {    
    width: 400px;
}
.cardItem {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}